function showMessage(){
    alert("Website Working Successfully!");
}
h1{ font-size: 30px }
body{
  background:#0f172a;
  color:white;
}
.hero{
  background:linear-gradient(
    135deg,
    #0f172a,
    #1e293b
  );
}
.card{
  background:#1e293b;
  padding:30px;
  border-radius:20px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
}
.card{
  backdrop-filter:blur(10px);
  background:rgba(255,255,255,0.1);
}
@media(max-width:768px){

nav{
  flex-direction:column;
}

}
nav{
  backdrop-filter:blur(15px);
}
html{
  scroll-behavior:smooth;
}
a{
  text-decoration:none;
  color:white;
  font-weight:bold;
}

a:hover{
  color:#38bdf8;
}
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  background:#0f172a;
  position:sticky;
  top:0;
}
ul{
  display:flex;
  gap:20px;
  list-style:none;
}
section{
  padding:100px 20px;
}
